,*
*.vcd
*.pdf
*.dot
*.gtkw
V*.*
*.o
*.vpi
a.out
cct3
cct5
cct6
pct1
testccc9
testccc10
testccc12
pebc
delay1_tb
ss2_tb
latch2_tb
latch1_tb
e2b3
e2bcd1_tb
dodecode1_tb
dodecode2_tb
testdod2
decade3_tb
x2821_tb
d2b4
d2b5
d2b6
decade6_tb
decade7_tb
docount1_tb
testccc18
x2821a_tb
decchk1_tb
rlim4_tb
delay2_tb
d132x5_tb
trigger2_tb
pcg3_tb
pcg4_tb
mkcbn
x2821b_tb
e2b6
e2bcd3_tb
sim1403x3_tb
